body {
  background-image: url("https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
background-repeat: no-repeat;
background-size: cover;
}


.container{
    display: flex;
    justify-content: center;
   }

h1 {
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}

ul,li{
    list-style-type: none;
    padding: 10px;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
  .crossed {
    text-decoration: line-through 2px green;
    background-color: #E4C988;
  
    -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: green;
  -webkit-text-decoration-thickness:2px;
  }

  .add {

    background: #CDE990;
    margin-top: 5px;
 
  }
  
  .delete {
    background: #C27664;
    margin-bottom: 5px;
    
   
  }
  
  .btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color:black;
    font-weight: bold;
  }

  input {
    width:200px;
    padding:8px;
    margin:10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin:50px;
  }